%h1 My Portfolio

%table.table.table-striped.table-bordered.stats
  %tr
    %th Original Value
    %td= currency(@portfolio.original_value)
  %tr
    %th Current Value
    %td= currency(@portfolio.current_value)
  %tr
    %th ROI
    %td= currency(@portfolio.roi)

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Ticker Symbol
      %th Shares
      %th Price Paid
      %th Market Price
      %th ROI
      %th Actions
  - @portfolio.each do |stock|
    = content_tag_for(:tr, stock) do
      %td= stock.symbol
      %td= stock.shares
      %td= currency(stock.price)
      %td= currency(stock.current_price)
      %td= currency(stock.roi)
      %td
        = link_to 'Edit', edit_portfolio_stock_path(stock), :class => 'btn'
        = link_to 'Remove', [:portfolio, stock], :method => :delete, :class => 'btn btn-danger'

= link_to 'Add a Stock', new_portfolio_stock_path, :class => 'btn btn-success'
